
h2 {
  margin-top: 150px;
  margin-bottom: 60px;
  color: rgb(24, 24, 24);
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 62px;
  margin-bottom: 90px;
}

.card {
  width: 255px;
  height: 302px;
  background: rgb(246, 247, 251);
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.35);
    color: #399A3A;
  }

  img {
    width: 200px;
    height: 220px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
}

.cards1 {
  display: flex;
  flex-wrap: wrap;
  gap: 61px;
}

.loading-card1 {
  width: 255px;
  //height: 202px;
  background: rgb(243, 243, 243);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loading-img1 {
  width: 200px;
  height: 200px;
  background: linear-gradient(90deg, #e0e0e0 25%, #f0f0f0 50%, #e0e0e0 75%);
  background-size: 200% 100%;
  animation: loadingShimmer 1.5s infinite linear;
  border-radius: 10px;
  margin-bottom: 25px;
}

.loading-text1 {
  width: 80%;
  height: 24px;
  background: #ddd;
  border-radius: 5px;
  animation: loadingShimmer 1.5s infinite linear;
}

@keyframes loadingShimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}


@media (max-width: 850px) {

  .loading-card {
    width: 235px;
    height: 302px;
  }
  .card {
    width: 235px;
    height: 290px;

    img {
      width: 190px;
      height: 210px;
    }
  }
}












